@model WarehouseSystem.Models.Import
@{
    ViewData["Title"] = "Добавление товара";
}

<h1>Добавить товар к поступлению</h1>

<div>
    <a asp-controller="Invoices" asp-action="Create" asp-route-returned="@true">Назад</a>
</div>