@model WarehouseSystem.Models.Invoice

@{
    ViewData["Title"] = "Регистрация поступления";
}

<h1>Новое поступление</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form name="invoiceForm" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group info-input">
                <label asp-for="ResponsibleID" class="control-label">Менеджер</label>
                <select asp-for="ResponsibleID" class="form-control" asp-items="ViewBag.ResponsibleID">
                    <option value="">-- Выберите сотрудника --</option>
                </select>
                <span asp-validation-for="ResponsibleID" class="text-danger" />
            </div>
            <div class="form-group info-input">
                
                <!--Тут нужна таблица товаров вроде-->
                <p>
                    <a asp-controller="Invoices" asp-action="CreateImport" id="addImport">Добавить товар к поступлению</a>
                </p>
                <script>
                    const element = document.getElementById('addImport');
                    element.onclick = (event) => {
                        let form = document.forms.invoiceForm;
                        form.action = "CreateImport";
                        form.submit();

                        //я хуй знает, вроде работает
                        form.action = "Create"
                    }
                </script>

                @{
                    if (Model.Imports.Count() <= 0)
                    {
                        <dd>Список товаров пуст</dd>
                    }
                    else
                    {
                        <table class = "table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imports.First().Product)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imports.First().Quantity)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    }
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Записать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку поступлений</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
