@model WarehouseSystem.Models.Invoice

@{
    ViewData["Title"] = "Добавление поступления";
}

<h1>Новая фактура</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group info-input">
                <label asp-for="ResponsibleID" class="control-label"></label>
                <select asp-for="ResponsibleID" class="form-control" asp-items="ViewBag.ResponsibleID">
                    <option value="">-- Выберите сотрудника --</option>
                </select>
                <span asp-validation-for="ResponsibleID" class="text-danger" />
            </div>
            <div class="form-group info-input">
                <label asp-for="Imports" class="control-label"></label>
            </div>
            <div id="imports-container" class="form-group info-input border rounded imports-container">
                <div class="form-group info-input">
                    @{
                        if (Model == null)
                        {
                            <h2>Хуета</h2>
                        }
                        //else if (Model.Imports.Count == 0) 
                        //{
                          //  <p>Товары отсутствуют</p>
                        //}
                        else 
                        {

                            <div id="imports-control">
                                @{await Html.RenderPartialAsync("../Imports/_ImportsTable", Model.Imports);}
                            </div>
                            
                            
                        }
                    }
                    
                    
                </div>
            </div>
            <div class="form-group info-input">
                <input id="create-invoice-btn" type="submit" value="Создать фактуру" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
