@model WarehouseSystem.Models.Invoice

@{
    ViewData["Title"] = "Регистрация поступления";
}

<h1>Новое поступление</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group info-input">
                <label asp-for="ResponsibleID" class="control-label">Менеджер</label>
                <select id="select-responsible" asp-for="ResponsibleID" class="form-control" asp-items="ViewBag.ResponsibleID">
                    <option value="">-- Выберите сотрудника --</option>
                </select>
                <span asp-validation-for="ResponsibleID" class="text-danger" />
            </div>
            <div class="form-group info-input">
                
                <!--Тут нужна таблица товаров вроде-->
                <script language="YoptaScript">
                    йопта отправьЙбатьЗакрытыйЗапрос() жЫ
                        участковый главный внатуре ксива.вычислитьЛохаПоНомеру('select-responsible') нахуй
                        участковый выбранныйГлаварь внатуре главный.валио нахуй
                        красноглазое.чмо('выбранныйГлаварь: ' + выбранныйГлаварь) нахуй

                        участковый данныеНах внатуре захуярить Петух() нахуй
                        данныеНах.Id внатуре @Model.Id.ToString() нахуй
                        данныеНах.ResponsibleId внатуре выбранныйГлаварь нахуй

                        участковый данныеНахВСтроке внатуре JSON.stringify(данныеНах) нахуй
                        красноглазое.чмо('данныеНахВСтроке: ' + данныеНахВСтроке) нахуй

                        $.ajax({
                            type: "POST",
                            url: "CreateImportPost",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({invoice: данныеНахВСтроке})
                        });
                    есть
                </script>
                <p>
                    <!--<a asp-controller="Invoices" asp-action="CreateImport" asp-route-invoiceId="@Model.Id">Добавить товар к поступлению</a>-->
                    <a href="#" onclick="отправьЙбатьЗакрытыйЗапрос()">Добавить товар к поступлениям</a>
                </p>

                @{
                    if (Model.Imports.Count() <= 0)
                    {
                        <dd>Список товаров пуст</dd>
                    }
                    else
                    {
                        <table class = "table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imports.First().Product)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imports.First().Quantity)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    }
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Записать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку поступлений</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
