@model WarehouseSystem.Models.Invoice

@{
    ViewData["Title"] = "Регистрация поступления";
}

<h1>Новое поступление</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group info-input">
                <label asp-for="ResponsibleID" class="control-label">Менеджер</label>
                <select asp-for="ResponsibleID" class="form-control" asp-items="ViewBag.ResponsibleID">
                    <option value="">-- Выберите сотрудника --</option>
                </select>
                <span asp-validation-for="ResponsibleID" class="text-danger" />
            </div>
            <div class="form-group info-input">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Записать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку поступлений</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
