@{
    ViewData["Title"] = "Добро пожаловать на склад";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в "Мой склад"</h1>
    <p>Для начала работы перейдите по одному из пунктов меню выше</p>
</div>
