@model WarehouseSystem.Models.Check
<dd class="col-4">
    <label asp-for="GeneralAmount" class="control-label fw-bold"></label>
</dd>
<div class="col-4"></div>
<div class="col-4 fw-bold">
    @Html.DisplayFor(model => model.GeneralAmount)
</div>