@model WarehouseSystem.Models.Check

@{
    ViewData["Title"] = "Новый чек";
}

<h1>Новый чек</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group info-input">
                <label asp-for="CashierID" class="control-label"></label>
                <select asp-for="CashierID" class="form-control" asp-items="ViewBag.CashierID">
                    <option value="">-- Выберите сотрудника --</option>
                </select>
                <span asp-validation-for="CashierID" class="text-danger" />
            </div>
            <div class="form-group info-input">
                <label asp-for="CheckEntries" class="control-label"></label>
            </div>
            <div id="imports-container" class="form-group info-input border rounded imports-container">
                <div class="form-group info-input">
                    @{
                        if (Model == null)
                        {
                            <h2>Хуета</h2>
                        }
                        //else if (Model.Imports.Count == 0) 
                        //{
                          //  <p>Товары отсутствуют</p>
                        //}
                        else 
                        {

                            <div id="imports-control">
                                @{await Html.RenderPartialAsync("../CheckEntries/_EntriesTable", Model.CheckEntries);}
                            </div>
                            
                            <div id="general-amount" class="row">
                                @{await Html.RenderPartialAsync("_GeneralAmount", Model);}
                            </div>
                        }
                    }
                    
                    
                </div>
            </div>
            <div class="form-group info-input">
                <input id="create-invoice-btn" type="submit" value="Создать чек" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script language="YoptaScript">
    йопта поменяйХуету() жЫ
        участковый ценникЕпт внатуре ксива.вычислитьЛохаПоНомеру('price-info') нахуй
        красноглазое.чмо(ценникЕпт) нахуй

        участковый выборХуеты внатуре ксива.вычислитьЛохаПоНомеру('product-select') нахуй
        участковый номерВыбраннойХуеты внатуре выборХуеты.валио нахуй

        участковый вводСколькоНадоХуеты внатуре ксива.вычислитьЛохаПоНомеру('quantity-input') нахуй
        участковый сколькоНадоХуеты внатуре вводСколькоНадоХуеты.валио нахуй
        красноглазое.чмо(сколькоНадоХуеты) нахуй
        
        участковый заебисьДанные внатуре чобля этоНихуя(шнырятьПоКарманам(номерВыбраннойХуеты))
            ичо чобля этоНихуя(шнырятьПоКарманам(сколькоНадоХуеты)) нахуй

        участковый посылкаЕпт внатуре жЫ есть нахуй
        вилкойвглаз (заебисьДанные) жЫ
            посылкаЕпт.ProductID внатуре шнырятьПоКарманам(номерВыбраннойХуеты) нахуй
            посылкаЕпт.Quantity внатуре шнырятьПоКарманам(сколькоНадоХуеты) нахуй
        есть

        $.ajax({
            url: "GetProductPrice",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            data: JSON.stringify(посылкаЕпт),
            success: йопта (опаЧеПришло) жЫ
                $(ценникЕпт).html(опаЧеПришло) нахуй
            есть
        }) нахуй
    есть
</script>
